.catagory-text-div {
    /* width: 25%; */
    margin: 0 auto  ;
    border-radius: 30px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.heading-text{
    background: linear-gradient(to right, rgba(44, 108, 165, 0.9), rgba(0, 212, 255, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.single-data-style{
    border: 1px solid rgb(96, 209, 224);
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: rgba(86, 103, 104,0.3);
}
.single-data-style:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.single-data-style img{
    padding: 10px;
    border: 1px solid aqua;
    border-radius: 50%;
    background-color: rgb(219, 216, 216);
}

